[user]
	name = Kate Miháliková
	email = kate@katemihalikova.cz
	signingkey = 1514D3C02EC152B0
[commit]
	gpgsign = true
[core]
	editor = code --wait
	eol = lf
	autocrlf = false
	pager = less -F -X -q
	excludesfile = ~/.gitignore
	ignorecase = false
[push]
	default = simple
[url "https://github.com/"]
#	insteadOf = git://github.com/
[diff]
	tool = vscode-difftool
[difftool "vscode-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	conflictstyle = diff3
[alias]
	c = commit
	a = commit --amend
	co = checkout
	b = checkout -b
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold white)%s%C(reset) %C(green)(%ar)%C(reset) %C(white)%an%C(reset)%C(auto)%d%C(reset) %C(bold blue)%h%C(reset)' --author-date-order
	pr = !sh -c \"git fetch origin refs/pull/${1}/head && git checkout FETCH_HEAD\" - # github
	pru = !sh -c \"git fetch upstream refs/pull/${1}/head && git checkout FETCH_HEAD\" - # github
	br = !sh -c \"git fetch origin refs/pull-requests/${1}/from && git checkout FETCH_HEAD\" - # bitbucket server
	bru = !sh -c \"git fetch upstream refs/pull-requests/${1}/from && git checkout FETCH_HEAD\" - # bitbucket server
	mr = !sh -c \"git fetch origin merge-requests/${1}/head && git checkout FETCH_HEAD\" - # gitlab
	mru = !sh -c \"git fetch upstream merge-requests/${1}/head && git checkout FETCH_HEAD\" - # gitlab
#	pub = !sh -c \"git push -u origin `git rev-parse --abbrev-ref HEAD`\" - # git <2.37 only
	wip = !sh -c \"git add -A && git commit --no-gpg-sign -m wip\" -
	todo = "!sh -c ' \
[ $GIT_PREFIX ] && cd $GIT_PREFIX; \
git status --short --branch $*; \
git --no-pager diff -U0 ${1} | \
grep \"^+.*TODO\" | \
sed \"s/^+//\" | \
git --no-pager grep -nFf - 2> /dev/null' -"
[color]
	ui = auto
	branch = auto
	status = auto
